.home-container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.game-button {
  display: block;
  text-decoration: none;
  background-color: #6200ea;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  width: 200px;
  text-align: center;
}
